In [1]:
import pandas as pd
import numpy as np

In [2]:
# display all columns of dataset while printing head 
pd.set_option("display.max_columns", None)

In [3]:
Invistico_Airline = pd.read_csv("Invistico_Airline.csv")

In [4]:
pd.set_option('future.no_silent_downcasting', True)

In [5]:
Invistico_Airline.columns

Index(['satisfaction', 'Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes'],
      dtype='object')

In [6]:
Invistico_Airline.head(2)

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0

In [7]:
# checking unique values in column 
Invistico_Airline.Class.unique()

array(['Eco', 'Business', 'Eco Plus'], dtype=object)

In [8]:
# Find unique values from column name with space 
(Invistico_Airline["Customer Type"]).unique()

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [9]:
# checking missing values
missing = Invistico_Airline.isnull().sum()
print(missing)

satisfaction                           0
Gender                                 0
Customer Type                          0
Age                                    0
Type of Travel                         0
Class                                  0
Flight Distance                        0
Seat comfort                           0
Departure/Arrival time convenient      0
Food and drink                         0
Gate location                          0
Inflight wifi service                  0
Inflight entertainment                 0
Online support                         0
Ease of Online booking                 0
On-board service                       0
Leg room service                       0
Baggage handling                       0
Checkin service                        0
Cleanliness                            0
Online boarding                        0
Departure Delay in Minutes             0
Arrival Delay in Minutes             393
dtype: int64

In [10]:
# perfprming s deep copy so thst changes in the copy doesnt change the originsl dataframe
Airline_raw = Invistico_Airline.copy(deep = True)

In [60]:
# converting string value coloumns to binary numbers 
Airline_raw['Gender_B'] = Airline_raw['Gender'].replace({'Female': 0, 'Male': 1})

In [12]:
Airline_raw['satisfaction_B'] = Airline_raw['satisfaction'].replace({'dissatisfied': 0, 'satisfied': 1})
Airline_raw['Customer Type_B'] = Airline_raw['Customer Type'].replace({'disloyal Customer': 0, 'Loyal Customer': 1})
Airline_raw['Type of Travel_B'] = Airline_raw['Type of Travel'].replace({'Personal Travel': 0, 'Business travel': 1})

In [13]:
Airline_raw

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_B,satisfaction_B,Customer Type_B,Type of Travel_B
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0,0,1,1,0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0,1,1,1,0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0,0,1,1,0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0,0,1,1,0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,Female,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,2,5,2,2,3,3,4,4,4,2,0,0.0,0,1,0,0
129876,dissatisfied,Male,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,2,1,1,3,2,3,3,1,2,1,174,172.0,1,0,0,0
129877,dissatisfied,Male,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,3,2,2,4,4,3,4,2,3,2,155,163.0,1,0,0,0
129878,dissatisfied,Male,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,3,2,2,3,3,2,3,2,1,2,193,205.0,1,0,0,0
129879,dissatisfied,Female,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,3,3,3,4,5,5,5,3,3,3,185,186.0,0,0,0,0

In [14]:
replace_dict= {0:'Female',1:'Male'}

In [15]:
Airline_raw

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_B,satisfaction_B,Customer Type_B,Type of Travel_B
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0,0,1,1,0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0,1,1,1,0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0,0,1,1,0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0,0,1,1,0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,Female,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,2,5,2,2,3,3,4,4,4,2,0,0.0,0,1,0,0
129876,dissatisfied,Male,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,2,1,1,3,2,3,3,1,2,1,174,172.0,1,0,0,0
129877,dissatisfied,Male,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,3,2,2,4,4,3,4,2,3,2,155,163.0,1,0,0,0
129878,dissatisfied,Male,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,3,2,2,3,3,2,3,2,1,2,193,205.0,1,0,0,0
129879,dissatisfied,Female,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,3,3,3,4,5,5,5,3,3,3,185,186.0,0,0,0,0

In [55]:
Airline_raw = Airline_raw.reset_index()

In [56]:
Airline_raw

,index,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_B,satisfaction_B,Customer Type_B,Type of Travel_B
0,0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0.0,0,1,1,0
1,1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305.0,1,1,1,0
2,2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0.0,0,1,1,0
3,3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0.0,0,1,1,0
4,4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0.0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,129875,satisfied,Female,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,3,2,5,2,2,3,3,4,4,4,2,0,0.0,0,1,0,0
129876,129876,dissatisfied,Male,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,4,2,1,1,3,2,3,3,1,2,1,174,172.0,1,0,0,0
129877,129877,dissatisfied,Male,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,3,3,2,2,4,4,3,4,2,3,2,155,163.0,1,0,0,0
129878,129878,dissatisfied,Male,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,2,3,2,2,3,3,2,3,2,1,2,193,205.0,1,0,0,0
129879,129879,dissatisfied,Female,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,3,3,3,3,4,5,5,5,3,3,3,185,186.0,0,0,0,0

In [46]:
df_encoded = pd.get_dummies(Airline_raw.Class, dtype=int)

In [48]:
df_encoded

        Business  Eco  Eco Plus
0              0    1         0
1              1    0         0
2              0    1         0
3              0    1         0
4              0    1         0
...          ...  ...       ...
129875         0    1         0
129876         1    0         0
129877         0    1         0
129878         0    1         0
129879         0    1         0

[129880 rows x 3 columns]

In [ ]:
#new_columns = df_encoded.columns.values

In [53]:
df_encoded = df_encoded.reset_index()

In [54]:
df_encoded

         index  Business  Eco  Eco Plus
0            0         0    1         0
1            1         1    0         0
2            2         0    1         0
3            3         0    1         0
4            4         0    1         0
...        ...       ...  ...       ...
129875  129875         0    1         0
129876  129876         1    0         0
129877  129877         0    1         0
129878  129878         0    1         0
129879  129879         0    1         0

[129880 rows x 4 columns]

In [62]:
num_df =  Airline_raw.merge(df_encoded, how='right')

In [63]:
num_df.drop(['Eco Plus', 'satisfaction','Gender', 'Customer Type','Type of Travel', 'Class'], axis='columns', inplace=True)

In [64]:
num_df.fillna(num_df.mean(), inplace=True)

In [85]:
num_df.columns

Index(['index', 'Age', 'Flight Distance', 'Seat comfort',
       'Departure/Arrival time convenient', 'Food and drink', 'Gate location',
       'Inflight wifi service', 'Inflight entertainment', 'Online support',
       'Ease of Online booking', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Cleanliness', 'Online boarding',
       'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'Gender_B',
       'satisfaction_B', 'Customer Type_B', 'Type of Travel_B', 'Business',
       'Eco'],
      dtype='object')

In [72]:
X = num_df.drop(columns=['satisfaction_B'])
y = num_df['satisfaction_B']

In [71]:
y = num_df['satisfaction_B']

In [73]:
num_df.astype(int)

,index,Age,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes,Gender_B,satisfaction_B,Customer Type_B,Type of Travel_B,Business,Eco
0,0,65,265,0,0,0,2,2,4,2,3,3,0,3,5,3,2,0,0,0,1,1,0,0,1
1,1,47,2464,0,0,0,3,0,2,2,3,4,4,4,2,3,2,310,305,1,1,1,0,1,0
2,2,15,2138,0,0,0,3,2,0,2,2,3,3,4,4,4,2,0,0,0,1,1,0,0,1
3,3,60,623,0,0,0,3,3,4,3,1,1,0,1,4,1,3,0,0,0,1,1,0,0,1
4,4,70,354,0,0,0,3,4,3,4,2,2,0,2,4,2,5,0,0,0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,129875,29,1731,5,5,5,3,2,5,2,2,3,3,4,4,4,2,0,0,0,1,0,0,0,1
129876,129876,63,2087,2,3,2,4,2,1,1,3,2,3,3,1,2,1,174,172,1,0,0,0,1,0
129877,129877,69,2320,3,0,3,3,3,2,2,4,4,3,4,2,3,2,155,163,1,0,0,0,0,1
129878,129878,66,2450,3,2,3,2,3,2,2,3,3,2,3,2,1,2,193,205,1,0,0,0,0,1
129879,129879,38,4307,3,4,3,3,3,3,3,4,5,5,5,3,3,3,185,186,0,0,0,0,0,1

In [81]:
X1 = num_df[['Flight Distance','Age','Gender_B']]
y1 = num_df['satisfaction_B']

In [82]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, test_size=0.25, random_state=40)

In [86]:
X1_train.head()

        Flight Distance  Age Gender_B
108120             2434   41        1
64585              3923   40        1
67304              3063   42        1
89775              2792   18        0
56091              1791   27        0

In [88]:
y1_train.astype(int)

108120    1
64585     1
67304     0
89775     1
56091     0
         ..
93176     1
80037     1
30727     0
112859    1
11590     1
Name: satisfaction_B, Length: 97410, dtype: int32

In [90]:
logreg1 = model.fit(X1_train, y1_train.astype(int))

In [91]:
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn import metrics
from statistics import mode
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import cross_val_predict
from datetime import datetime, date, timedelta
from sklearn.model_selection import train_test_split

In [103]:
model=LogisticRegression(max_iter=3000)

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=40)

In [105]:
model.fit(X_train, y_train.astype(int))

c:\Users\HP\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=3000)